name: Generate Sitemap

on:
  push:
    branches:
      - main
    paths:
      - '**.html'
  workflow_dispatch:

permissions:
  contents: write  # این خط خیلی مهمه - دسترسی نوشتن می‌ده

jobs:
  sitemap_job:
    runs-on: ubuntu-latest
    name: Generate a sitemap

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Generate the sitemap
        id: sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://matinmok.github.io/azadivpn/

      - name: Commit and push the sitemap
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add sitemap.xml
          git diff --quiet && git diff --staged --quiet || (git commit -m "Automated sitemap update" && git push)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # توکن رو محیطی می‌ده
